################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RPGSystem/RPGSystem/obj
/.vs
/RPGSystem/.vs/RPGSystem
